<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RC_of_Computer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RC_of_Computer.Properties.Settings>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebServerSoftware" serializeAs="String">
                <value>PHP</value>
            </setting>
            <setting name="PHPExeFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UsePATHValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DocumentRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>8000</value>
            </setting>
        </RC_of_Computer.Properties.Settings>
    </userSettings>
</configuration>